.container {
    display: flex;
    flex-direction: column;
}

.addCreateButtonContainer {
    width: 200px;
}

.addModalContainer {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.addItemContainer {
    width: 100%;
    margin-top: 10px;
}

.tablesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;
}

.subMenuItem:hover {
    cursor: pointer;
    background-color: rgba(76, 70, 70, 0.4) !important;
}

.subMenuContainer {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: flex;
    justify-content: center;
    border-top: 1px solid #80808078;
    border-bottom: 1px solid #80808078;
}

.subMenuItem {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-right: none !important;
    width: 288px;
    text-align: center;
}
