.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addCreateButtonContainer {
    width: 200px;
}

.addModalContainer {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 400px;
    justify-content: space-between;
}

.addItemContainer {
    width: 100%;
    margin-top: 10px;
}

.tablesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;
}
