.container {
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.disabled {
    pointer-events: none;
}

.container:hover {
    cursor: pointer;
    text-decoration: none;
}

.loadingContainer {
    margin-right: 5px;
}

.generic {
    background-color: #28282b;
}

.generic:hover {
    background-color: #4c4646;
}

.generic:active {
    background-color: rgba(76, 70, 70, 0.4);
}

.success {
    background-color:rgba(140, 205, 121, 0.6)
}

.success:hover {
    background-color: rgba(140, 205, 121, 0.8);
}

.success:active {
    background-color: rgba(140, 205, 121, 0.4);
}

.error {
    background-color: rgba(255, 102, 102, 0.6);
}

.error:hover {

    background-color: rgba(255, 102, 102, 0.8);
}

.error:active {
    background-color: rgba(255, 102, 102, 0.4);
}

.menuBtn{
    width: 100%;
    margin-bottom: 0.5rem;
}
