.container {
    display: flex;
    justify-content: center;
}

.tabItem {
    font-size: 40px;
    padding: 5px 50px 10px 50px;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.tabItem:hover {
    text-decoration: none;
    background-color: rgba(76, 70, 70, 0.4) !important;
}
