.container {
    display: flex;
    justify-content: center;
}

.tabItem {
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    width: 288px;
    text-align: center;
}

.tabItem:hover {
    cursor: pointer;
    background-color: rgba(76, 70, 70, 0.4) !important;
}
