.container {
    border: 1px solid #80808078;
    border-radius: 5px;
    padding: 4px 6px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.425);
}
.container:hover {
    cursor: pointer;
    background-color: rgba(168, 168, 168, 0.3);
}

.title {
    width: 100%;
    margin: auto 10px auto 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.deleteIcon{
    width: 20px;
    filter: invert(35%) sepia(40%) saturate(2476%);
}
