.container {
    composes: mainBackground from '../../styles/colors.css';
    composes: mainFont from '../../styles/font.css';
    font-size: 20px;
    padding: 10px;
    color: #fff;
    border: 1px solid #e2dfd2;
    border-radius: 5px;
    width: 100%;
}

.smallContainer {
    font-size: 15px;
    padding: 8px;
}

.container::-webkit-outer-spin-button,
.container::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container[type='number'] {
    -moz-appearance: textfield;
}
